<div class="container" data-controller="read-checkbox">
  <div class="grid-container">
    <% @books.each_slice(4) do |row| %>
      <div class="grid-row">
        <% row.each do |book| %>
          <div class="grid-item">
            <%= content_tag :p, book.title, class: "book-title" %>
            <% if book.cover_url.present? %>
              <%= image_tag book.cover_url, class: "book-cover" %>
            <% end %>
            <div class="field">
              <%= check_box_tag "read_#{book.id}", 1, book.read, data: { url: book_path(book), target: "read-checkbox.checkbox" }, class: "read-checkbox" %>
              <%= label_tag "read_#{book.id}", book.read ? "Lu" : "À lire", data: { target: "read-checkbox.label" } %>
            </div>
          </div>
        <% end %> <!-- row.each -->
      </div>
    <% end %> <!-- @books.each_slice -->
  </div> <!-- grid-container -->
</div> <!-- container -->
