.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-row {
  width: 100%;
  display: flex;
}

.grid-item {
  flex: 1;
  max-width: calc(25% - 20px); /* 20px pour la marge entre les éléments */
  margin: 5px; /* Espacement entre les éléments */
  padding: 5px; /* Optionnel : ajoute un espace à l'intérieur des éléments */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu horizontalement */
  justify-content: flex-start; /* Aligne le contenu en haut */
}

.book-title {
  white-space: wrap;
  font-weight: bold;
  max-width: 200px;
  font-size: 18px;
  margin-top: 10px;
  color: black;
  height: 40px; /* Hauteur fixe pour les titres */
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  text-align: center; /* Centre le texte horizontalement */
}

.book-cover {
  margin-top: 4px;
  width: 100%;
  max-height: 200px; /* Hauteur maximale pour toutes les couvertures */
  object-fit: contain; /* L'image est ajustée pour tenir dans la boîte tout en conservant son ratio */
  border-radius: 4%;
}
